.card-product {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0 0.2rem black;
  display: grid;
  position: relative;
}

.card-product--offer::before {
  content: 'Oferta';
  position: absolute;
  top: 1rem;
  text-align: center;
  left: -40%;
  transform: rotate(-45deg);
  width: 100%;
  color: #fff;
  background-color: rgb(255, 84, 84);
  border-radius: 0.2rem;
  line-height: 3rem;
}

@media (min-width: 640px) {
  .card-product--offer::before {
    left: -36%;
  }
}

@media (min-width: 728px) {
  .card-product--offer::before {
    left: -38%;
  } 
}

@media (min-width: 1024px) {
  .card-product--offer::before {
    left: -40%;
  }
}

.card-product__container {
  display: flex;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}

.card-product__header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product__body {
  width: 80%;
  display: grid;
  gap: 1rem 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 1fr;
  grid-template-areas: "title title"
                       "price lookMore"
                       "amount lookMore";
  align-items: center;
  justify-items: center;
}

.card-product__title {
  margin: 0;
  grid-area: title;
  font-weight: 800;
  font-size: 2.2rem;
}

.card-product__price {
  grid-area: price;
  background-color: var(--tertiary-theme-color);
  color: white;
  width: 80%;
  margin: auto;
  line-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: .8rem;
}

@media (min-width: 1024px) {
  .card-product__price {
    font-size: 1rem;
  }
}

.card-product__amount {
  grid-area: amount;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.card-product__amount-input {
  width: 40%;
  height: 80%;
  border: none;
  text-align: center;
  font-size: 1rem;
}

.card-product__amount-button {
  border: none;
  width: 2rem;
  height: 80%;
  background-color: #BBBBBB;
  color: white;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}

.card-product__look-more {
  grid-area: lookMore;
  display: flex;
  align-items: center;
  width: 80%;
  font-size: 1rem;
  height: 100%;
  background-color: var(--primary-theme-color);
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 800;
  text-decoration: none;
  transition: transform .25s, box-shadow .25s;
}

@media (min-width: 768px) {
  .card-product__look-more {
    font-size: 1.2rem;
  }
}
.card-product__look-more:hover {
  box-shadow: 0 0 0.4rem var(--tertiary-theme-color);
}

.card-product__img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  height: 15rem;
}

@media (min-width: 768px) {
  .card-product__img {
    height: 13rem;
  }
}

.card-product__footer {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product__footer-button {
  width: 80%;
  background-color: var(--primary-button-color);
  line-height: 3rem;
  border: none;
  display: grid;
  grid-template-columns: 20% 80%;
  cursor: pointer;
  transition: transform .25s;
}

.card-product__footer-button:active, .card-product__look-more:active {
  transform: scale(.95);
}

.icon__cart-plus {
  font-size: 1.8rem;
}

.card-product__footer-button__text-container {
  border-left: 0.1rem solid black;
}

.card-product__footer-button__text {
  font-size: 1rem;
  font-weight: 900;
}

