.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 4px double var(--secondary-shadow-color);
  padding: 3rem 2rem;
}



.form__input {
  background-color: transparent;
  border: 2px solid var(--secondary-shadow-color);
  color: var(--secundary-text-color);
  font-size: 1rem;
  padding: 0.5em;
  transform: filter 0.25s, border 0.25s, box-shadow 0.25s;
}

.form__input:hover {
  filter: brightness(112.5%);
  border: 2px solid var(--terciary-shadow-color);
  box-shadow: 0 0 0.12rem 0.12rem var(--terciary-shadow-color);
}

.form__input:focus{
  background-color: transparent;
  color: var(--terciary-text-color);
  font-weight: 500;
}

.form__input::placeholder {
  color: var(--secundary-text-color);
}