.header { 
  width: 100%;
  height: 8rem;
  background-color: var(--secondary-theme-color);
  border-bottom: 2px solid var(--primary-shadow-color);
}

.header-nav {
  padding: 0 1.625rem;
  height: 100%;
  --scale-transform-menu: scale(1);
  --scale-transform-close: scale(0);
  --translate-x: translate(100%)
}

.header-nav:target {
  --scale-transform-menu: scale(0);
  --scale-transform-close: scale(1);
  --translate-x: translate(0%)
}

.header-nav__container {
  width: min(100%, 1024px);
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-color: #2B7A0B;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.menu__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.menu__footer .logo img {
  width: 80px;
}

.terms{
  max-width: 350px;
  margin-top: 2px;
  font-weight: 30;
  font-size: 18px;
  list-style-type: none;
  margin-top: 2px;
  color: white;
}

.menu__footer h2 {
  margin-bottom: 20px;
  color:#EAE509;
  font-weight: 700;
}

.menu__footer-list {
  list-style-type: none;
  font-size: 0.5;
}

.menu__footer a {
  margin-top: 10px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.menu__footer a:hover {
opacity: 0.8;
}

.menu__footer-list {
  display: block;
  transition: transfor 0.25s;
}

.menu__copyright{
 /* max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
  border: none;
  height: 1px;
  background-color: #faefef;
  font-size: 0.8rem;*/
  position: relative;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}

.menu__copyright::before {
  content: '';
  position: absolute;
  top: -0.75rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--primary-theme-color);
}

@media (min-width: 768px) {
  .menu__copyright{
    font-size: 1rem;
  }
}