.section {
  padding: var(--padding-section) 0 0 0;
}

.section--secondary {
  background-color: var(--quaternary-theme-color);
  padding: var(--padding-section) 0;
}

.section--headed {
  box-shadow: 0 0 0.0625rem 0.0625rem var(--reverse-primary-shadow-color);
}

.container {
  width: min(100%, var(--max-width-container));
  margin: 0 auto;
  padding: var(--padding-container);
}


.categories{
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.category-item{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 33.3%;
  border: 2px solid var(--primary-border-color);
  box-sizing: border-box;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.category-item-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.category-item-inner > h3 {
  padding: 5px 10px;
  background: var(--primary-background-color);
  color: var(--quaternary-text-color);
  border-radius: 5px;
  font-size: 30px;
  font-weight: var(--primary-font-weight);
  text-transform: uppercase;
  
}


@media (max-width:1000px) {
  .category-item{
    min-width: 50%;
  }
}


@media (max-width:800px) {
  .category-item{
    min-width: 100%;
  }
}

.container--offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
}

.container--headed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.section__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 0.5rem var(--secondary-shadow-color);
}

.section__title--property {
  color: rgba(98, 98, 98, 0.726);
  animation: h2 7s infinite alternate;
}

@keyframes h2 {
  0% {text-transform: none;
    text-shadow: none;
    filter: none}

  10% {}

  20% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }

  30% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }

  40% {text-transform: none;
    text-shadow: none;
    filter: none}

  50% {}

  60% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }

  70% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }

  80% {text-transform: none;
    text-shadow: none;
    filter: none}

  85% {}

  90% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }

  100% {
    text-transform: uppercase;
    text-shadow: 1px 1px;
    filter: brightness(112.5%);
  }
}



.section__cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



@media (min-width: 768px) {

  .container--hero {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__title {
    font-size: 2rem;
  }
}

