.slider {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.slider__list {
    display: flex;
    padding: 0;
    width: 400%;
    margin: 0;
    animation: change 20s infinite alternate linear;
    will-change: transform;
    
}

.slider__item {
    width: 100%;
    list-style: none;
}


.slider__item-img {
    display: block;
    object-fit: cover; 
    width: 100%;
}

@keyframes change {
    0% {
      transform: translateX(0);
    }
    20% {transform: translateX(0);}

    25% {transform: translateX(-25%);}
    45% {transform: translateX(-25%);}

    50% {transform: translateX(-50%);}
    70% {transform: translateX(-50%);}

    75% {transform: translateX(-75%);}
    100% {transform: translateX(-75%);}
}

@media (min-width: 768px) {
    .slider__item-img {
        width: 100%;
        height: 28rem;
    }
}
