.slider {
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding-top: 8rem;
}

.slider__list {
    display: flex;
    padding: 0;
    width: 400%;
    margin: 0;
    animation: change 20s infinite alternate linear;
    will-change: transform;
    
}

.slider__item {
    width: 100%;
    list-style: none;
}


.slider__item-img {
    display: block;
    object-fit: cover; 
    width: 100%;
}

@keyframes change {
    0% {
      transform: translateX(0);
    }
    20% {transform: translateX(0);}

    25% {transform: translateX(-25%);}
    45% {transform: translateX(-25%);}

    50% {transform: translateX(-50%);}
    70% {transform: translateX(-50%);}

    75% {transform: translateX(-75%);}
    100% {transform: translateX(-75%);}
}

@media (min-width: 768px) {
    .slider__item-img {
        width: 100%;
        height: 28rem;
    }
}

.informes {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.informe__list {
    display: flex;
    padding: 0;
    width: 95%;
    margin: 0;
    margin: 0 auto;
}


.informe__item {
    width: 100%;
    list-style: none;
}

.informe__item-img {
    display: block;
    object-fit: cover; 
    width: 100%;
    border-radius: .25rem;
    transition: box-shadow .25s;
    object-position: 0;
    animation: moveImage 6s ease-in-out infinite alternate;
    will-change: object-position;
}

@keyframes moveImage {
    to {
      object-position: 100%
    }
}

.informe__item-img:hover {
    box-shadow: 0 0 0.625rem 0rem var(--secondary-shadow-color);
}

@media (min-width: 768px) {
    .informe__item-img {
        height: 30rem;
    }
}