:root {
  scroll-behavior: smooth;
  --primary-font-family: 'Noto Sans', sans-serif;
  --primary-theme-color: #EAE509;
  --secondary-theme-color: #7DCE13;
  --tertiary-theme-color: #5BB318;
  --quaternary-theme-color: rgba(255, 255, 255, 0.87);
  --primary-shadow-color: rgb(255, 255, 255);
  --secundary-shadow-color: #7DCE13;
  --terciary-shadow-color: #EAE509;
  --primary-button-color: #7DCE13;
  --primary-text-color: #000;
  --secundary-text-color: rgba(128, 128, 128, 0.815);
  --terciary-text-color: #EAE509;
  --primary-reverse-text-color: rgb(236, 235, 235);
  --padding-section: 10rem;
  --padding-container: 2rem 0;
  --max-width-container: 640px;
  --primary-invalid-color: rgba(0, 128, 0, 0.445);
}

* {
  font-family: var(--primary-font-family);
}

.body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: var(--quaternary-theme-color);
}
